{% if problem %}
<h1 class="page-header">{{ problem.name }}</h1>
<div id="chart" style="width: 900px; height: 500px;"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
    var results = [
        //{% for result, count in scores %}
        ['{{ result }}%', {{ count }}],
        //{% endfor %}
        ];
    var data = google.visualization.arrayToDataTable([
            ['One', 'Two'],
            ].concat(results));
    var c = [];
    for (i in results) {
        score = parseInt(results[i][0]);
        h = 0.3*Math.pow((score/100),2);
        s = 0.8;
        l = 0.5;
        rgb = hslToRgb(h, s, l);
        c.push('#'+decimalToHex(rgb[0])+decimalToHex(rgb[1])+decimalToHex(rgb[2]));
    }
    var options = {
        colors: c,
        pieSliceText: 'label'
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart'));
    chart.draw(data, options);
}
</script>
{% if access %}
<a href="http://orac.amt.edu.au/jaz/cgi-bin/train/problem.pl?problemid={{ problem.prob_id }}">Visit this problem on orac</a>.
{% else %}
You don't appear to have access to this problem.
{% endif %}
{% else %}
<h2>Invalid problem ID.</h2>
{% endif %}
